@{
    ViewData["Title"] = "Home Page";
}
@using  Microsoft.Extensions.Options;
@using HY.IO.Ports.Extentions;
@inject IOptionsMonitor<DeviceSetting>    setting

<div class="row">

    <div class="panel">
        <div class="panel-heading">
            设置
        </div>
        <div class="panel-body">
            <form id="buttonPanel" class="form-horizontal">
                <div class="form-group" id="PlasmaGenerator">
                    <label for="PlasmaGenerator_powerIndex" class="col-sm-2">离子发生器</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="PlasmaGenerator_powerIndex" placeholder="继电器触点位置" value="@setting.CurrentValue.PowerControllerSetting.PlasmaGenerator">
                    </div>

                    <div class="col-sm-2">
                        <button id="plasmaGenerator_Power" class="btn btn-default equip"><span>启动</span><i class="fa fa-cog"></i></button>
                    </div>
                </div>
                <div class="form-group" id="UVLight">
                    <label for="PlasmaGenerator_powerIndex" class="col-sm-2">UV光</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="UVLight_powerIndex" placeholder="继电器触点位置" value="@setting.CurrentValue.PowerControllerSetting.UVLight">
                    </div>

                    <div class="col-sm-2">
                        <button id="uvLight_Power" class="btn btn-default equip"><span>启动</span><i class="fa fa-cog"></i></button>
                    </div>
                </div>
                <div class="form-group" id="GrayFan">
                    <label for="exampleInputEmail1" class="col-sm-2">吹灰 继电器位置</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="GrayFan_powerIndex" placeholder="继电器触点位置" value="@setting.CurrentValue.PowerControllerSetting.GrayFan">
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2">运转时长</label>
                    <div class="col-sm-1">

                        <input type="number" class="form-control" id="GrayFan_RunningTime" placeholder="运转时长 " value="@setting.CurrentValue.GrayFanRuntime.GrayFanRunSeconds" />
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2">休眠时长</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" id="GrayFan_SleepTime" placeholder="休眠时长" value="@setting.CurrentValue.GrayFanRuntime.GrayFanSleepSeconds" />
                    </div>
                    <div class="col-sm-2">
                        <button id="grayFan_Power" class="btn btn-default equip"><span>启动</span> <i class="fa fa-cog"></i></button>
                    </div>
                </div>
                <div class="form-group" id="Pump">
                    <label for="Pump_powerIndex" class="col-sm-2">水泵 继电器位置</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="Pump_powerIndex" placeholder="继电器触点位置" value="@setting.CurrentValue.PowerControllerSetting.Pump">
                    </div>
                    <div class="col-sm-2">
                        <button id="pump_Power" class="btn btn-default equip"><span>启动</span><i class="fa fa-cog"></i></button>
                    </div>
                </div>

                <div class="form-group" id="ExhaustMain">
                    <label for="ExhaustMain_powerIndex" class="col-sm-2">主风机 继电器位置</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="ExhaustMain_powerIndex" placeholder="继电器触点位置" value="@setting.CurrentValue.PowerControllerSetting.ExhaustMain">
                    </div>
                    <div class="col-sm-2">
                        <button id="exhaustMain_Power" class="btn btn-default equip"><span>启动</span><i class="fa fa-cog"></i></button>
                    </div>
                </div>

                <div class="form-group" id="ExhaustSlave">
                    <label for="exampleInputEmail1" class="col-sm-2">次风机 继电器位置</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="ExhaustSlave_powerIndex" placeholder="继电器触点位置" value="@setting.CurrentValue.PowerControllerSetting.ExhaustSlave">
                    </div><div class="col-sm-2">
                        <button id="exhaustSlave_Power" class="btn btn-default equip"><span>启动</span><i class="fa fa-cog"></i></button>
                    </div>
                </div>

                <div class="form-group" id="Pulverizer">
                    <label for="exampleInputEmail1" class="col-sm-2">碎料器 继电器位置</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="Pulverizer_powerIndex" placeholder="继电器触点位置" value="@setting.CurrentValue.PowerControllerSetting.Pulverizer">
                    </div>
                    <label for="exampleInputEmail1" class="col-sm-2">运行时间</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="Pulverizer_runningTime" placeholder="碎料器运行时间" value="@setting.CurrentValue.TransferRuntime.PulverizerRuntimerSeconds">
                    </div>
                    <div class="col-sm-2">
                        <button id="pulverizer_Power" class="btn btn-default equip"><span>启动</span><i class="fa fa-cog"></i></button>
                    </div>
                </div>

                <div class="form-group" id="Transfer">
                    <label for="Pulverizer_powerIndex" class="col-sm-2">传输 继电器位置</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" id="Transfer_powerIndex" placeholder="继电器触点位置" value="@setting.CurrentValue.PowerControllerSetting.Transfer">
                    </div>
                    <label for="Pulverizer_powerIndex" class="col-sm-2">启动时机（碎料器启动后）</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" id="Transfer_startTime" placeholder="秒" value="@setting.CurrentValue.TransferRuntime.TransferStartAfterPulverizerStart" />
                    </div>
                    <label for="Pulverizer_powerIndex" class="col-sm-3">停止时机（碎料器停止后）</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" id="Transfer_stopTime" placeholder="秒" value="@setting.CurrentValue.TransferRuntime.TransferStopAfterPulverizerStop" />
                    </div>
                    <div class="col-sm-1">
                        <button id="transfer_Power" class="btn btn-default equip"><span>启动</span><i class="fa fa-cog"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @*<div class="panel">
                <div class="panel-heading">
                    光耦开关设置
                </div>
                <div class="panel-body">
                    <form id="buttonPanel" class="form-horizontal">
                        <div class="form-group" id="FullSensor">
                            <label for="PlasmaGenerator_powerIndex" class="col-sm-2">反应舱满载</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="FullSensor_index" placeholder="光耦触点位置" value="@setting.CurrentValue.OpenClosePortSetting.FullSensor">
                            </div>

                            <div class="col-sm-2">
                                <button id="FullSensor_Status" class="btn btn-default equip"><span>状态</span><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                        <div class="form-group" id="EmptySensor">
                            <label for="EmptySensor_index" class="col-sm-2">反应舱空载</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="EmptySensor_index" placeholder="光耦触点位置" value="@setting.CurrentValue.OpenClosePortSetting.EmptySensor">
                            </div>

                            <div class="col-sm-2">
                                <button id="EmptySensor_Status" class="btn btn-default equip"><span>状态</span><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@

    @section Scripts{
        <script type="text/javascript">
            subcriptStatus(function (status) {

                for (var key in status.power) {
                    var isOn = status.power[key] == 1;
                    var tar = $("#" + key + "_Power");
                    tar.toggleClass("btn-success", isOn);
                    tar.find("i").toggleClass("fa-spin", status.power[key] == 1);
                    tar.find('span').text(isOn ? "停止" : "启动");
                }
            })

            $(document).ready(function () {
                $("#PlasmaGenerator_powerIndex,#Transfer_powerIndex,#Pulverizer_powerIndex,#GrayFan_powerIndex,#ExhaustMain_powerIndex,#ExhaustSlave_powerIndex,#Pump_powerIndex,#UVLight_powerIndex").change(function () {
                    var device = $(this).attr("id").split("_")[0];
                    $.post("/home/PowerSetting", {
                        equipmentName: device,
                        PowerIndex: $(this).val()
                    }, function (data) {
                        bootbox.alert("设置完成");
                    })
                })

                $("#GrayFan_RunningTime ,#GrayFan_SleepTime").change(function () {
                    $.post("/home/GrayFanRunTime", {
                        GrayFanSleepSeconds: $("#GrayFan_SleepTime").val(),
                        GrayFanRunSeconds: $("#GrayFan_RunningTime").val()
                    }, function (data) {
                        bootbox.alert("设置完成");
                    })
                })

                $("#buttonPanel .equip").click(function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var eqName = $(this).attr("id").split("_")[0];
                    var enable = $this.find("i").hasClass("fa-spin");
                    GarbageTerminal[eqName].call(this, !enable, function (data) {

                        console.log(data);
                    })

                })

                $("#FullSensor_index,#EmptySensor_index").change(function () {
                    var $this = $(this);
                    var eqName = $(this).attr("id").split("_")[0];
                    $.post("/home/OpenCloseSetting", {
                        SensorIndex: $(this).val(),
                        SensorName: eqName
                    }, function (data) {
                        bootbox.alert("设置完成");
                    })
                })

                $("#Pulverizer_runningTime,#Transfer_stopTime,#Transfer_startTime").change(function () {
                    var $this = $(this);
                    var eqName = $(this).attr("id").split("_")[0];
                    $.post("/home/TransferRuntime", {
                        PulverizerRuntimerSeconds: $("#Pulverizer_runningTime").val(),
                        TransferStartAfterPulverizerStart: $("#Transfer_startTime").val(),
                        TransferStopAfterPulverizerStop: $("#Transfer_stopTime").val(),
                    }, function (data) {
                        bootbox.alert("设置完成");
                    })
                })

            });
        </script>
    }